<style>
    .request-scan-button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    .request-scan-button a {
      display: inline-block;
      padding: 10px 20px;
      background-color: lightgray;
      color: black;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;
    }
  </style>
  
  <div class="request-scan-button">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZ73pRh3tWkFJgYznUAlEtBBqkpil2vz-lHN0gyVkMObVMqw/viewform?usp=sf_link">Request a scan</a>
  </div>
  